<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744938158526-sfvn8oecs2vn49nbqu60salujt86dnvv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744938158526-sfvn8oecs2vn49nbqu60salujt86dnvv</string>
	<key>API_KEY</key>
	<string>AIzaSyAxwu_opTYV1PBdgIeCvtX4NA3INOLAbFk</string>
	<key>GCM_SENDER_ID</key>
	<string>744938158526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.edu.calculatorImc</string>
	<key>PROJECT_ID</key>
	<string>calculadoraimc-51863</string>
	<key>STORAGE_BUCKET</key>
	<string>calculadoraimc-51863.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744938158526:ios:954cc2a37a291513fe61ef</string>
</dict>
</plist>